<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kepu.questionnaire.dao.ITrainingDataDao" >

    <!-- ResultMap settings -->

    <!-- Sql settings -->

    <!-- Select Part -->
        <select id="selectAllTrainingData" resultType="cn.kepu.questionnaire.pojo.TrainingData">
            select * from training_data where plan_id is not null
        </select>
    <!-- Delete Part -->

    <!-- Insert Part -->

    <!-- Update Part -->

</mapper>